<!-- Title Page -->
<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-color: #d2d2d2;">
    <h2 class="l-text2 t-center">
        Créer un compte
    </h2>
</section>

<!-- content page -->
<section class="bgwhite p-t-66 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-b-30">
                <form class="leave-comment">
                    <h4 class="m-text26 p-b-36 p-t-15">
                        Inscrivez-vous
                    </h4>
                    <p id="textform"></p>
                    <div class="bo4 of-hidden size15 m-b-20">
                        <input class="sizefull s-text7 p-l-22 p-r-22" type="text" id="mail" placeholder="Adresse Mail">
                    </div>

                    <div class="bo4 of-hidden size15 m-b-20">
                        <input class="sizefull s-text7 p-l-22 p-r-22" type="text" id="username" placeholder="Nom d'utilisateur">
                    </div>

                    <div class="bo4 of-hidden size15 m-b-20">
                        <input class="sizefull s-text7 p-l-22 p-r-22" type="password" id="password" placeholder="Mot de passe">
                    </div>

                    <div class="w-size25">
                        <!-- Button -->
                        <button class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4" onclick="createAccount()">
                            Envoyer
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript">function createAccount() {
        console.log('create account');
        $.ajax({ url: '/CreateAccount', method: "POST", data: { 
                mail: $("#mail").val(),
                username: $("#username").val(),
                password: $("#password").val(),
            } })
            .then(function (data) {
                console.log(data);
            }, function (err) {
                console.log("err: " + err.statusText)
                $("#textform").text("Une erreur est survenue");
            });
    }
</script>
